<form>
  <div class="form-group form-inline">
    Search: <input class="form-control ml-2" type="text" name="searchTerm"/>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Name</th>
      <th scope="col">Platforms</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <th scope="row">{{ user.USERNAME }}</th>
        <td>{{ user.DISPLAY_NAME }}</td>
      </tr>
    </tbody>
  </table>
</form>
